<template>
    <div>
        <button @click="answerClick" v-html="answer" />
    </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
    // Import state and update questions
    computed: {
        ...mapState(['questions', 'correctAnswers', 'count',
        'userAnswers', 'numberOfQuestionsChosen']),
    },
    name: 'Answer',
    props: ['answer'],
    methods: {
        ...mapMutations(['setUserAnswers']),

        // Click on answer checks if it was the right answer
        answerClick(){
            // If this button was the correct answer
            if (this.answer === this.correctAnswers[this.count]) {
                console.log("correct");
            }
            // If this button was an incorrect answer
            else{
                console.log("incorrect");
            }
            // Add user's answer to array in state
            let answers = this.userAnswers
            answers.push(this.answer)
            this.setUserAnswers(answers)

            // If we have finished the questions, change to results component
            // - 1 on amount of questions because count starts at 0.
            if (this.count === this.numberOfQuestionsChosen - 1) {
                this.$router.push('/results')
                return
            }
            // Create new question
            this.$emit('newQues')
        }
    },
}
</script>

<style scoped>
button{
    background-color: lightgoldenrodyellow;
    border-radius: 8px;
    height: 35px;
}
</style>