<template>
    <div>
        <h3 v-html="title"></h3>    
        <div class="grid-container">
            <!-- Add Answer component with prop -->
            <div>
                <Answer id="a1" :answer="this.answer1" v-on:newQues="newQuestion"/>
                <Answer id="a2" :answer="this.answer2" v-on:newQues="newQuestion"/>
            </div>
            <!-- Only show 3rd and 4th button when the type is multiple -->
            <div v-if="type === 'multiple'">
                <Answer id="a3" :answer="this.answer3" v-on:newQues="newQuestion"/>
                <Answer id="a4" :answer="this.answer4" v-on:newQues="newQuestion"/>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import Answer from './Answer.vue'

export default {
    // Import state values needed for questions
    computed: {
        ...mapState(['questions', 'correctAnswers', 'wrongAnswers',
         'questionTypes', 'numberOfQuestionsChosen', 'count', 'userAnswers',
         'categoryChosen', 'difficultyChosen']),
    },
    name: 'QuestionScreen',
    components: {
        Answer,
    },
    data(){
        return { 
            answer1: '',
            answer2: '',
            answer3: '',
            answer4: '',
            title: '',
            type: '',
        }
    },
    methods: {
        ...mapMutations(['setCount']),
        // Import function to fetch questions and start quiz
        ...mapActions(['startQuiz']),
        // Function increases question count
        increaseCount(){
            this.setCount(this.count + 1)
        },
        // Change to next question in array
        newQuestion(){
            this.increaseCount()
            this.populateQuestions()
        },
        // Populate questions
        populateQuestions(){  
            console.log("Question nr:", this.count);

            this.type = this.questionTypes[this.count]
            this.title = this.questions[this.count]

            // If there are 4 answers
            if (this.questionTypes[this.count] === 'multiple') {
                // Randomize order
                const array = this.shuffleArray([this.correctAnswers[this.count],
                 this.wrongAnswers[this.count][0], 
                 this.wrongAnswers[this.count][1], 
                 this.wrongAnswers[this.count][2]])

                // Assign the randomized answers
                this.answer1 = array[0]
                this.answer2 = array[1]
                this.answer3 = array[2]
                this.answer4 = array[3]   
            }
            // If it is true or false
            else if (this.questionTypes[this.count] === 'boolean'){
                const array = this.shuffleArray([this.correctAnswers[this.count], 
                    this.wrongAnswers[this.count][0]]) 
                this.answer1 = array[0]
                this.answer2 = array[1]
            }
        },
        // Function to randomize (shuffle) an array
        shuffleArray(array){
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                // Swap variables
                [array[i], array[j]] = [array[j], array[i]];
            }
            return array
        },
    },
    // Before the component is created we fetch the questions
    // then populate the elements
    async created(){    
        console.log("Category chosen: ", this.categoryChosen);  
        // Get the args to use in the query
        const args = `amount=${this.numberOfQuestionsChosen}&category=${this.categoryChosen}&difficulty=${this.difficultyChosen}`
        // Load questions with given arguments
        await this.startQuiz(args)
        this.populateQuestions()
    }
}
</script>

<style scoped>
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
</style>