<template>
    <div>
        <h2>Results</h2>

        <!-- Displays user's score-->
        <p>Total score: 
            <span id="user-score" v-html="this.totalScore">x</span>/<span id="score-possible" v-html="this.numberOfQuestionsChosen*10">y</span>
        </p>
        
        <!-- Home resets data and goes to home page. Replay starts quiz 
        again with same settings -->
        <div class="buttons">
            <button @click="reset">Home</button>
            <button @click="replay">Replay</button>
        </div>

        <!-- Show question, correct answer and user's answer -->
        <div class="question-container" v-for="question in qs" :key="question.id">
            <h4 v-html="question.text" />
            <p v-html="`Your answer: ${question.userAnswer}`">Your answer</p>
            <p v-html="`Correct answer: ${question.corrAnswer}`">Correct answer</p>
        </div>

    </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
    // Import state values needed for displaying results
    computed: {
        ...mapState(['questions', 'correctAnswers',
         'numberOfQuestionsChosen', 'userAnswers',]),
    },
    name: 'ResultScreen', 
    data(){
        return {
            qs: [],
            totalScore: 0,
        }
    },
    methods: {
        ...mapMutations(['setCount']),
        // Import function to clear data
        ...mapActions(['resetAllData', 'resetDataForReplay']),

        // Function plays game again with same settings
        replay(){
            this.resetDataForReplay() // Function in store
            // Change route to questions page
            this.$router.push('/questions')

        },

        // Resets all values and returns to home screen
        reset(){
            this.resetAllData() // Function in store
            // Change route to home page
            this.$router.push('/')
        },
    },
    // When this component is created we shall show the results.
    created(){
        // Create question objects and add to q-array
        for (let i = 0; i < this.questions.length; i++) {
            // Question object
            this.qs.push({ 
                id: i,
                text: this.questions[i], 
                userAnswer: this.userAnswers[i],
                corrAnswer: this.correctAnswers[i],
            })
            // Increment totalScore by ten for each correct answer
            if (this.userAnswers[i] === this.correctAnswers[i]) {
                this.totalScore += 10
            }
        }
    }   
}
</script>

<style scoped>
</style>