<template>
    <div>
        <div class="grid-container">

            <h1>Start Quiz</h1>

            <!-- Selector for difficulty -->
            <select v-model="selectedDifficulty" id="difficulty-select">
                <option value="">All Difficulties</option>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
            <label id="difficulty-label">Choose difficulty:</label>

            <!-- Selector for category -->
            <select v-model="selectedCategory" id="category-select">
                <!-- Populate with categories using v-for -->
                <option v-for="category in categories" :key="category.id" v-bind:value="{ id: category.id}">
                    {{ category.name }}
                </option>
            </select>
            <label id="category-label">Choose category:</label>

            <!-- Input for number of questions -->
            <input v-model="selectedAmount" type="number" min="1" max="50" id="amount-input">
            <label id="amount-label">Choose amount of questions:</label>

            <!-- Click on button starts quiz and QuestionScreen component -->
            <button @click="startQuizClick" id="start-button">Start Quiz</button>

        </div>
    
    </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
    computed: {
        ...mapState(['questions', 'correctAnswers',
        'userAnswers', 'numberOfQuestionsChosen',
        'difficultyChosen', 'categoryChosen']),
    },
    name: 'StartScreen',
    data(){
        return { 
            selectedCategory: '',
            selectedDifficulty: '',
            selectedAmount: '',
            categories: [
                {id: '', name: 'Any Category'},
                {id: 9, name: 'General Knowledge'},
                {id: 10, name: 'Entertainment: Books'},
                {id: 11, name: 'Entertainment: Film'},
                {id: 12, name: 'Entertainment: Music'},
                {id: 13, name: 'Entertainment: Musicals & Theatres'},
                {id: 14, name: 'Entertainment: Television'},
                {id: 15, name: 'Entertainment: Video Games'},
                {id: 16, name: 'Entertainment: Board Games'},
                {id: 17, name: 'Science & Nature'},
                {id: 18, name: 'Science: Computers'},
                {id: 19, name: 'Science: Mathematics'},
                {id: 20, name: 'Mythology'},
                {id: 21, name: 'Sports'},
                {id: 22, name: 'Geography'},
                {id: 23, name: 'History'},
                {id: 24, name: 'Politics'},
                {id: 25, name: 'Art'},
                {id: 26, name: 'Celebrities'},
                {id: 27, name: 'Animals'},
                {id: 28, name: 'Vehicles'},
                {id: 29, name: 'Entertainment: Comics'},
                {id: 30, name: 'Science: Gadgets'},
                {id: 31, name: 'Entertainment: Japanese Anime & Manga'},
                {id: 32, name: 'Entertainment: Cartoon & Animations'},
            ],
        }
    },
    methods: {
        // Get the setters to update the store values
        ...mapMutations(['setDifficulty', 'setNumberOfQuestionsChosen',
        'setCategoryChosen']),
        // Start quiz and QuestionScreen component
        startQuizClick(){
            console.log(typeof this.selectedCategory.id);

            // Check for valid input in number of questions. Max 50, min 1
            if (this.selectedAmount === "" || this.selectedAmount < 1 || this.selectedAmount > 50) {
                alert("Amount of questions must be between 1 and 50")
                return false
            }

            // Make sure user chooses a category (including any category)
            if (typeof this.selectedCategory.id === 'undefined') {
                alert("Please choose a category. Choose 'Any category' to get questions from random categories")
                return false
            }

            // Set category, difficulty and amount of questions in store
            this.setCategoryChosen(this.selectedCategory.id)
            this.setDifficulty(this.selectedDifficulty)
            this.setNumberOfQuestionsChosen(this.selectedAmount)

            // Change route to show questions
            this.$router.push('/questions')
        },
        
    },
}
</script>

<style scoped>
.grid-container{
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "titl titl titl titl titl"
    "dlbl dsct dsct dsct ."
    "clbl csct csct csct ."
    ". albl inpt . ."
    ". . sbtn . .";
}
h1{
    grid-area: titl;
}
#category-select{
    grid-area: csct;
}
#difficulty-select{
    grid-area: dsct;
}
#amount-input{
    grid-area: inpt;
}
#start-button{
    grid-area: sbtn;
    background-color: lightgoldenrodyellow;
    border-radius: 8px;
    height: 35px;
}
#category-label{
    grid-area: clbl;
}
#difficulty-label{
    grid-area: dlbl;
}
#amount-label{
    grid-area: albl;
}
</style>